<div class="container upload-panel">
    <div class="top-main-head pull-left width-100">
        <h4 class="pull-left page-section-header">Upload Scanned Docs</h4>
        <button ng-click="vm.redirect('consultant')"
                class="logout-button pull-right next-upload add-button" title="Next">
            <span class="fa-stack fa-lg pull-left"><i
                    class="fa fa-arrow-right" aria-hidden="true"></i></span>
            <span class="text">Skip Uploads</span>              
        </button>
    </div>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.bankOpen">
            <uib-accordion-heading>
                Upload Bank details<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.bankOpen, 'glyphicon-chevron-right': !status.bankOpen}"></i>
            </uib-accordion-heading>
            <div class="row"> 
            <ul class='uploaded_files'>
                    <li ng-repeat="file in vm.s3files | filter: { fileType: 'bank' }" ng-click="vm.getFileFromS3(file.id)">{{file.fileName}}</li>
                </ul>                 
                <div class="fileUpload btn">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-upload" aria-hidden="true"></i></span>
                    <span class="up-text">Choose files</span>                    
                    <input type="file" class="file-uploader upload" nv-file-select="" uploader="bankDetailsUploader" multiple accept="application/pdf, image/*"/>
                </div>

                <p class="doc-count">Number of Docs: {{ bankDetailsUploader.queue.length}}</p>

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="preview-container col-md-3 col-lg-3 col-sm-6 col-xs-6" ng-repeat="item in bankDetailsUploader.queue">
                        <div class="preview-td">
                            <strong class="preview-name">{{ item.file.name}}</strong>
                            <div ng-show="bankDetailsUploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                        </div>

                        <div class="text-center image-preview">
                            <span ng-show="item.isSuccess"><i class="upload-success glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isError"><i class="upload-error glyphicon glyphicon-remove"></i></span>
                        </div>
                        <div nowrap>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </div>
                    </div>
                </div>

                <div>
                    <div>
                        Upload Progress:
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': bankDetailsUploader.progress + '%' }"></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-s" ng-click="bankDetailsUploader.uploadAll()" ng-disabled="!bankDetailsUploader.getNotUploadedItems().length">
                        <span class="glyphicon glyphicon-upload"></span> Upload all
                    </button>
                    <button type="button" class="btn btn-warning btn-s" ng-click="bankDetailsUploader.cancelAll()" ng-disabled="!bankDetailsUploader.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                    </button>
                    <button type="button" class="btn btn-danger btn-s" ng-click="bankDetailsUploader.clearQueue()" ng-disabled="!bankDetailsUploader.queue.length">
                        <span class="glyphicon glyphicon-trash"></span> Remove all
                    </button>
                </div>
            </div>
        </div>

        <div uib-accordion-group class="panel-default" is-open="status.passportOpen">
            <uib-accordion-heading>
                Upload Passport details<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.passportOpen, 'glyphicon-chevron-right': !status.passportOpen}"></i>
            </uib-accordion-heading>
            <div class="row">
                <div class="fileUpload btn">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-upload" aria-hidden="true"></i></span>
                    <span class="up-text">Choose files</span>                    
                    <input type="file" class="file-uploader upload" nv-file-select="" uploader="passportUploader" multiple accept="application/pdf, image/*"/>
                </div>
                <p class="doc-count">Number of Docs: {{ passportUploader.queue.length}}</p>

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="preview-container col-md-3 col-lg-3 col-sm-6 col-xs-6" ng-repeat="item in passportUploader.queue">
                        <div class="preview-td">
                            <strong class="preview-name">{{ item.file.name}}</strong>
                            <div ng-show="passportUploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                        </div>

                        <div class="text-center image-preview">
                            <span ng-show="item.isSuccess"><i class="upload-success glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isError"><i class="upload-error glyphicon glyphicon-remove"></i></span>
                        </div>
                        <div nowrap>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </div>
                    </div>
                </div>

                <div>
                    <div>
                        Upload Progress:
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': passportUploader.progress + '%' }"></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-s" ng-click="passportUploader.uploadAll()" ng-disabled="!passportUploader.getNotUploadedItems().length">
                        <span class="glyphicon glyphicon-upload"></span> Upload all
                    </button>
                    <button type="button" class="btn btn-warning btn-s" ng-click="passportUploader.cancelAll()" ng-disabled="!passportUploader.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                    </button>
                    <button type="button" class="btn btn-danger btn-s" ng-click="passportUploader.clearQueue()" ng-disabled="!passportUploader.queue.length">
                        <span class="glyphicon glyphicon-trash"></span> Remove all
                    </button>
                </div>
            </div>
        </div>

        <div uib-accordion-group class="panel-default" is-open="status.licenceOpen">
            <uib-accordion-heading>
                Upload Driving Licence<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.licenceOpen, 'glyphicon-chevron-right': !status.licenceOpen}"></i>
            </uib-accordion-heading>
            <div class="row">
                <div class="fileUpload btn">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-upload" aria-hidden="true"></i></span>
                    <span class="up-text">Choose files</span>                    
                    <input type="file" class="file-uploader upload" nv-file-select="" uploader="licenceUploader" multiple accept="application/pdf, image/*"/>
                </div>
                <p class="doc-count">Number of Docs: {{ licenceUploader.queue.length}}</p>

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="preview-container col-md-3 col-lg-3 col-sm-6 col-xs-6" ng-repeat="item in licenceUploader.queue">
                        <div class="preview-td">
                            <strong class="preview-name">{{ item.file.name}}</strong>
                            <div ng-show="licenceUploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                        </div>

                        <div class="text-center image-preview">
                            <span ng-show="item.isSuccess"><i class="upload-success glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isError"><i class="upload-error glyphicon glyphicon-remove"></i></span>
                        </div>
                        <div nowrap>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </div>
                    </div>
                </div>

                <div>
                    <div>
                        Upload Progress:
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': licenceUploader.progress + '%' }"></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-s" ng-click="licenceUploader.uploadAll()" ng-disabled="!licenceUploader.getNotUploadedItems().length">
                        <span class="glyphicon glyphicon-upload"></span> Upload all
                    </button>
                    <button type="button" class="btn btn-warning btn-s" ng-click="licenceUploader.cancelAll()" ng-disabled="!licenceUploader.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                    </button>
                    <button type="button" class="btn btn-danger btn-s" ng-click="licenceUploader.clearQueue()" ng-disabled="!licenceUploader.queue.length">
                        <span class="glyphicon glyphicon-trash"></span> Remove all
                    </button>
                </div>
            </div>
        </div>

        <div uib-accordion-group class="panel-default" is-open="status.panOpen">
            <uib-accordion-heading>
                Upload PAN details<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.panOpen, 'glyphicon-chevron-right': !status.panOpen}"></i>
            </uib-accordion-heading>
            <div class="row">
<div class="fileUpload btn">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-upload" aria-hidden="true"></i></span>
                    <span class="up-text">Choose files</span>                    
                    <input type="file" class="file-uploader upload" nv-file-select="" uploader="panUploader" multiple accept="application/pdf, image/*"/>
                </div>

                <p class="doc-count">Number of Docs: {{ panUploader.queue.length}}</p>

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="preview-container col-md-3 col-lg-3 col-sm-6 col-xs-6" ng-repeat="item in panUploader.queue">
                        <div class="preview-td">
                            <strong class="preview-name">{{ item.file.name}}</strong>
                            <div ng-show="panUploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                        </div>

                        <div class="text-center image-preview">
                            <span ng-show="item.isSuccess"><i class="upload-success glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isError"><i class="upload-error glyphicon glyphicon-remove"></i></span>
                        </div>
                        <div nowrap>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </div>
                    </div>
                </div>

                <div>
                    <div>
                        Upload Progress:
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': panUploader.progress + '%' }"></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-s" ng-click="panUploader.uploadAll()" ng-disabled="!panUploader.getNotUploadedItems().length">
                        <span class="glyphicon glyphicon-upload"></span> Upload all
                    </button>
                    <button type="button" class="btn btn-warning btn-s" ng-click="panUploader.cancelAll()" ng-disabled="!panUploader.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                    </button>
                    <button type="button" class="btn btn-danger btn-s" ng-click="panUploader.clearQueue()" ng-disabled="!panUploader.queue.length">
                        <span class="glyphicon glyphicon-trash"></span> Remove all
                    </button>
                </div>
            </div>
        </div>
        <div uib-accordion-group class="panel-default" is-open="status.forexOpen">
            <uib-accordion-heading>
                Upload Forex Card details<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.forexOpen, 'glyphicon-chevron-right': !status.forexOpen}"></i>
            </uib-accordion-heading>
            <div class="row">
<div class="fileUpload btn">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-upload" aria-hidden="true"></i></span>
                    <span class="up-text">Choose files</span>                    
                    <input type="file" class="file-uploader upload" nv-file-select="" uploader="forexUploader" multiple accept="application/pdf, image/*"/>
                </div>
                <p class="doc-count">Number of Docs: {{ forexUploader.queue.length}}</p>

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="preview-container col-md-3 col-lg-3 col-sm-6 col-xs-6" ng-repeat="item in forexUploader.queue">
                        <div class="preview-td">
                            <strong class="preview-name">{{ item.file.name}}</strong>
                            <div ng-show="forexUploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                        </div>

                        <div class="text-center image-preview">
                            <span ng-show="item.isSuccess"><i class="upload-success glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isError"><i class="upload-error glyphicon glyphicon-remove"></i></span>
                        </div>
                        <div nowrap>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </div>
                    </div>
                </div>

                <div>
                    <div>
                        Upload Progress:
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': forexUploader.progress + '%' }"></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-s" ng-click="forexUploader.uploadAll()" ng-disabled="!forexUploader.getNotUploadedItems().length">
                        <span class="glyphicon glyphicon-upload"></span> Upload all
                    </button>
                    <button type="button" class="btn btn-warning btn-s" ng-click="forexUploader.cancelAll()" ng-disabled="!forexUploader.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                    </button>
                    <button type="button" class="btn btn-danger btn-s" ng-click="forexUploader.clearQueue()" ng-disabled="!forexUploader.queue.length">
                        <span class="glyphicon glyphicon-trash"></span> Remove all
                    </button>
                </div>
            </div>
        </div>
    </uib-accordion>    
    <div class="bottom-button-liner">        
        <button ng-click="vm.uploadDocs()"
                class="logout-button pull-right add-button upload-docs-btn" title="Upload Docs">
            <span class="fa-stack fa-lg pull-left"><i
                    class="fa fa-upload" aria-hidden="true"></i></span>
            <span class="text">Upload Docs</span>              
        </button>
    </div>
</div>


