<div class="container upload-panel">
    <div class="top-main-head pull-left width-100">
        <h4 class="pull-left page-section-header">Upload Scanned Docs</h4>
        <button ng-click="vm.redirect('employee')"
                class="logout-button pull-right next-upload add-button" title="Next">
            <span class="fa-stack fa-lg pull-left"><i
                    class="fa fa-arrow-right" aria-hidden="true"></i></span>
            <span class="text">Skip Uploads</span>              
        </button>
    </div>
    <uib-accordion close-others="oneAtATime">
       
        <div uib-accordion-group class="panel-default" is-open="status.empOpen">
            <uib-accordion-heading>
                Upload Employee Docs<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.empOpen, 'glyphicon-chevron-right': !status.empOpen}"></i>
            </uib-accordion-heading>
            <div class="row">
<div class="fileUpload btn">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-upload" aria-hidden="true"></i></span>
                    <span class="up-text">Upload</span>                    
                    <input type="file" class="file-uploader upload" nv-file-select="" uploader="employeeDocsUploader" multiple />
                </div>
                <p class="doc-count">Number of Docs: {{ employeeDocsUploader.queue.length}}</p>

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="preview-container col-md-3 col-lg-3 col-sm-6 col-xs-6" ng-repeat="item in employeeDocsUploader.queue">
                        <div class="preview-td">
                            <strong class="preview-name">{{ item.file.name}}</strong>
                            <div ng-show="employeeDocsUploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                        </div>

                        <div class="text-center image-preview">
                            <span ng-show="item.isSuccess"><i class="upload-success glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isError"><i class="upload-error glyphicon glyphicon-remove"></i></span>
                        </div>
                        <div nowrap>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </div>
                    </div>
                </div>

                <div>
                    <div>
                        Upload Progress:
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': employeeDocsUploader.progress + '%' }"></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-s" ng-click="employeeDocsUploader.uploadAll()" ng-disabled="!employeeDocsUploader.getNotUploadedItems().length">
                        <span class="glyphicon glyphicon-upload"></span> Upload all
                    </button>
                    <button type="button" class="btn btn-warning btn-s" ng-click="employeeDocsUploader.cancelAll()" ng-disabled="!employeeDocsUploader.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                    </button>
                    <button type="button" class="btn btn-danger btn-s" ng-click="employeeDocsUploader.clearQueue()" ng-disabled="!employeeDocsUploader.queue.length">
                        <span class="glyphicon glyphicon-trash"></span> Remove all
                    </button>
                </div>
            </div>
        </div>        
    </uib-accordion>    
    <div class="bottom-button-liner">        
        <button ng-click="vm.uploadDocs()"
                class="logout-button pull-right add-button upload-docs-btn" title="Add Employee">
            <span class="fa-stack fa-lg pull-left"><i
                    class="fa fa-upload" aria-hidden="true"></i></span>
            <span class="text">Upload Docs</span>              
        </button>
    </div>
</div>


