<div>
    <div class="container">
        <div ng-if="vm.bankDocs.progress">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.bankDocs.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.bankDocs.progress}};">
                    {{vm.bankDocs.progress}}
                </div>
            </div>
            <hr>
            <ul>
                <li ng-repeat="f in vm.bankDocs.files" style="font:smaller">{{f.name}}</li>
            </ul>
        </div>
        <div ng-hide="vm.bankDocs.progress" ngf-drop ngf-select ng-model="vm.bankDocs.files" ngf-pattern="'image/*'" ngf-multiple="true" >
            <p><span class="btn btn-primary">Upload scanned Bank docs</span></p>
        </div></div>

    <div class="container">
        <div ng-if="vm.passport.progress">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.passport.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.passport.progress}};">
                    {{vm.passport.progress}}
                </div>
            </div>
            <hr>
            <ul>
                <li ng-repeat="f in vm.passport.files" style="font:smaller">{{f.name}}</li>
            </ul>
        </div>
        <div ng-hide="vm.passport.progress" ngf-drop ngf-select ng-model="vm.passport.files" ngf-pattern="'image/*'" ngf-multiple="true" >
            <p><span class="btn btn-primary">Upload scanned docs passport</span></p>
        </div></div>

    <div class="container">
        <div ng-if="vm.pancard.progress">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.pancard.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.pancard.progress}};">
                    {{vm.pancard.progress}}
                </div>
            </div>
            <hr>
            <ul>
                <li ng-repeat="f in vm.pancard.files" style="font:smaller">{{f.name}}</li>
            </ul>
        </div><div ng-hide="vm.pancard.progress" ngf-drop ngf-select ng-model="vm.pancard.files" ngf-pattern="'image/*'" ngf-multiple="true" >
            <p><span class="btn btn-primary">Upload scanned docs of pancard</span></p>
        </div></div>

    <div class="container">
        <div ng-if="vm.liscence.progress">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.liscence.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.liscence.progress}};">
                    {{vm.liscence.progress}}
                </div>
            </div>
            <hr>
            <ul>
                <li ng-repeat="f in vm.liscence.files" style="font:smaller">{{f.name}}</li>
            </ul>
        </div>
        <div ng-hide="vm.liscence.progress" ngf-drop ngf-select ng-model="vm.liscence.files" ngf-pattern="'image/*'" ngf-multiple="true" >
            <p><span class="btn btn-primary">Upload scanned docs of liscence</span></p>
        </div></div>

    <div class="container">
        <div ng-if="vm.liscence.progress">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.liscence.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.liscence.progress}};">
                    {{vm.liscence.progress}}
                </div>
            </div>
            <hr>
            <ul>
                <li ng-repeat="f in vm.liscence.files" style="font:smaller">{{f.name}}</li>
            </ul>
        </div>
        <div ng-hide="vm.liscence.progress" ngf-drop ngf-select ng-model="vm.liscence.files" ngf-pattern="'image/*'" ngf-multiple="true" >
            <p><span class="btn btn-primary">Upload scanned docs of passbook</span></p>
        </div></div>



</div>
