<div>
    <div class="top-main-head pull-left width-100">
        <h4 class="pull-left">Select a Candidate</h4>
	<button ng-click="vm.back()"
		class="logout-button pull-right add-button" title="Back To Home Screen">
		<span class="fa-stack fa-lg pull-left"><i
			class="fa fa-arrow-left" aria-hidden="true"></i></span>
                        <span class="text">Back</span>              
	</button>
    </div>
    <div class='emp-cand-table-wrapper'><table id="candidatesList" class="display"></table></div>
    <div class="candidate-summary col-md-12 col-lg-12 col-sm-12 col-xs-12" ng-class="{init:vm.isInit}">{{vm.Employeetemplate}}
    </div>
    <div class="bottom-button-liner">        
        <button ng-click="vm.addEmployeeNextStep(candidateId)"
		class="logout-button pull-right add-button next-btn" title="Add Employee">
		<span class="fa-stack fa-lg pull-left"><i
			class="fa fa-arrow-right" aria-hidden="true"></i></span>
                        <span class="text">Next Step</span>              
	</button>
        </div>
</div>