<div class="sub-content">
<div class="pull-left width-100">
    <div class="top-main-head pull-left width-100">
        <h4 class="pull-left">Employee Management</h4>
	<button ng-click="vm.addEmployee()"
		class="logout-button pull-right add-button" title="Add Employee">
		<span class="fa-stack fa-lg pull-left"><i
			class="fa fa-plus" aria-hidden="true"></i></span>
                        <span class="text">Add</span>              
	</button>
    </div>
	<table id="employeeList" class="display">
	</table>
</div>
</div>

