*~
/target/*
.classpath
.project
.settings
/bin/*
/target/
target
.settings
.classpath
.project
.idea
*.iml
*.gitignore
*bin
.idea/*
/nb-configuration.xml
/nbactions.xml
/src/main/webapp/META-INF
/src/main/webapp/npm-debug.log
/src/main/webapp/triangular/.tmp/
/src/main/webapp/triangular/bower_components/
/src/main/webapp/triangular/node_modules/
hs_err_pid_*.log