<div class="form-horizontal reim-form" name="reim-form">

    <div class="top-main-head pull-left width-100">
        <h4 class="pull-left">Fill Reimbursement Form</h4>	
        <button ng-click="vm.back()"
                class="logout-button back pull-right add-button" title="Back To Home Screen">
            <span class="fa-stack fa-lg pull-left"><i
                    class="fa fa-arrow-left" aria-hidden="true"></i></span>
            <span class="text">Back</span>              
        </button>
    </div>

    <div class="row">        
        <div class="data-outer col-md-6 col-lg-6 col-sm-12 col-xs-12">                        
            <div class="data-main-container">
                <header class="data-main-container-header">Basic Information</header>

                <div
                    class="control-group col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-left">
                    <label class="control-label" for="empno">Employee Number</label>
                    <div class="controls">
                        <input type="text" name="empno" id="empno"
                               ng-model="vm.reim.empno"
                               class="form-input width-100" placeholder="Employee Number"
                               readonly/>
                    </div>
                </div>
                <div
                    class="control-group col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-left">
                    <label class="control-label" for="empname">Employee Name</label>
                    <div class="controls">
                        <input type="text" name="empname" id="empname"
                               ng-model="vm.reim.empname" class="form-input width-100"
                               placeholder="Employee Name"
                               readonly />
                    </div>
                </div>

                <div class="control-group col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-left">
                    <label class="control-label" for="division">Division/BU</label>
                    <div class="controls">
                        <input type="text" name="division" id="division"
                               ng-model="vm.reim.division"
                               class="form-input width-100"
                               placeholder="Division/BU"
                               readonly/>
                    </div>
                </div>
                <div
                    class="control-group col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-left">
                    <label class="control-label" for="currDate">Current Date</label>
                    <div class="controls">
                        <input type="text" name="currDate" id="currDate"
                               ng-model="vm.reim.currDate" class="form-input width-100"
                               placeholder="Current Date"
                               readonly/>
                    </div>
                </div>
                <div
                    class="control-group col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-left">
                    <label class="control-label" for="webUrl">Reporting manager</label>
                    <div class="controls">
                        <input type="text" name="manager" id="manager"
                               ng-model="vm.reim.manager" class="form-input width-100"
                               placeholder="Reporting manager"
                               readonly/>
                    </div>
                </div>
            </div>
        </div>
        <div class="data-outer col-md-6 col-lg-6 col-sm-12 col-xs-12">                        
            <div class="data-main-container">
                <header class="data-main-container-header">Add details to Table</header>

                <div class="control-group col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-left">
                    <label class="control-label" for="date">Date</label>
                    <div class="controls">
                        <p class="input-group">
                            <input type="text"
                                   name="date"
                                   show-button-bar ="false"
                                   class="form-input date-form"                                           
                                   ng-model="vm.tableData.date"
                                   is-open="vm.isDobPickerOpen"
                                   uib-datepicker-popup="dd-MMM-yyyy"
                                   datepicker-options="vm.dobDateOptions" 
                                   readonly/>
                            <span class="input-group-btn custom-datepick">
                                <button type="button" 
                                        class="btn btn-default" 
                                        ng-click="vm.setDpOpenStatus('isDobPickerOpen')">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>
                <div
                    class="control-group col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-left">
                    <label class="control-label" for="desc">Description</label>
                    <div class="controls">
                        <input type="text" name="desc" id="desc"
                               ng-model="vm.tableData.description" class="form-input width-100"
                               placeholder="Description"
                               />
                    </div>
                </div>

                <div class="control-group col-lg-3 col-md-3 col-sm-6 col-xs-6 pull-left">
                    <label class="control-label" for="currency">Currency</label>
                    <div class="controls">
                        <select name="currency" ng-model="vm.tableData.currency" validation="required:alt=required"
                                class="form-input width-100" ng-options="currency as (currency.description) for currency in vm.reim.lookups.CURRENCY">                   
                            <option value="">--SELECT--</option>
                        </select>
                    </div>
                </div>
                <div
                    class="control-group col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-left">
                    <label class="control-label" for="amt">Amount</label>
                    <div class="controls">
                        <input type="text" name="amt" id="amt"
                               ng-model="vm.tableData.amount" class="form-input width-100"
                               placeholder="Amount"
                               />
                    </div>
                </div>
                <div
                    class="control-group col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-left">
                    <label class="control-label" for="remarks">Remarks</label>
                    <div class="controls">
                        <input type="text" name="remarks" id="remarks"
                               ng-model="vm.tableData.remarks" class="form-input width-100"
                               placeholder="Remarks"
                               />
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 add-btn-cntnr">
                    <button ng-click="vm.addToTable($event)"
                            class="col-lg-6 col-md-6 col-sm-12 col-xs-12 logout-button pull-right add-button confirm-btn" title="Confirm and Register">
                        <span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-plus" aria-hidden="true"></i></span>
                        <span class="text">Add data to table</span>              
                    </button>
                </div>
            </div>
        </div>
    </div>   

    <div>
        <table  id="reim-table" class="display cell-border" cellspacing="0" width="100%"></table>   
    </div> 
    <div class="bottom-button-liner">        
        <button ng-click="vm.reimburse()" id="reimburse-button"
                class="logout-button pull-right add-button confirm-btn" title="Confirm and Register">
            <span class="fa-stack fa-lg pull-left"><i
                    class="fa fa-check" aria-hidden="true"></i></span>
            <span class="text">Reimburse</span>              
        </button>
    </div>
</div>




