<div class="top-main-head pull-left width-100">
	<h4 class="pull-left page-section-header-att">Attendance Details</h4>

</div>
<div class="sub-content attendance">
	<div class="row bottom-margin-20 col-lg-3 col-md-3 col-sm-6 col-xs-6 pull-left">
		<div class="fileUpload btn">
			<span class="fa-stack fa-lg pull-left"><i class="fa fa-upload" aria-hidden="true"></i></span> 
			<span class="up-text">Upload Attendance Log File</span>
			<input type="file" class="file-uploader upload"	file-model="vm.reimFile" accept="application/vnd.ms-excel"/>
		</div>
		<div class="file-name">{{vm.reimFile.name}}</div>
	</div>
	<div
		class="control-group col-lg-3 col-md-3 col-sm-6 col-xs-6 pull-left">
		<label class="control-label" for="gender">Employee name</label>
		<div class="controls">
			<select ng-change="vm.filterChange()" name="employee_name"
				ng-model="vm.attendance.filter.emplyee.id"
				class="form-input width-100"
				ng-options="employee[0] as (employee[1]) for employee in vm.attendance.lookups.EMPLOYEES">
				<option value="">All Employees</option>
			</select>
		</div>
	</div>
	<div
		class="control-group col-lg-3 col-md-3 col-sm-6 col-xs-6 pull-left">
		<label class="control-label" for="gender">Status</label>
		<div class="controls">
			<select ng-change="vm.filterChange()" name="attendance_status"
				ng-model="vm.attendance.filter.status.id"
				class="form-input width-100"
				ng-options="status as status for status in vm.attendance.lookups.STATUS">
				<option value="">All Status</option>
			</select>
		</div>
	</div>

	<div class="row">
				<div class="row attendanceTable">
			<table id="attendanceTable" class="display"></table>
		</div>
</div>
	</div>