
        <div class="container reim-review">
            <div class="top-main-head pull-left width-100">
                <h4 class="pull-left page-section-header">Offer Letter Approval Request</h4>
            </div>
            <div class="candidate-summary offer-details col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="item col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <label class="item-label">Name</label>
                    <p class="item-label-desc"> :   Veena Balakrishnan</p>
                </div>
                <div class="item col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <label class="item-label">Candidate Id</label>
                    <p class="item-label-desc"> :   BHP-C-1007</p>
                </div>
                <div class="item col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <label class="item-label">Country</label>
                    <p class="item-label-desc"> :   India</p>
                </div>
                <div class="item col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <label class="item-label">DOB</label>
                    <p class="item-label-desc"> :   30 Dec 2001 12:00 am</p>
                </div><div class="item col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <label class="item-label">Designation</label>
                    <p class="item-label-desc"> :   Belhopat Employee</p>
                </div>
                <div class="item col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <label class="item-label">Passport</label>
                    <p class="item-label-desc"> :   12312312</p>
                </div>
                <div class="item col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <label class="item-label">Email Id</label>
                    <p class="item-label-desc"> :   veeana@belhopat.com</p>
                </div>
                <div class="item col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <label class="item-label">Country Code</label>
                    <p class="item-label-desc"> :   +91</p>
                </div>
                <div class="item col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <label class="item-label">Contact No</label>
                    <p class="item-label-desc"> :   9746228805</p>
                </div>
                <div class="item col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <label class="item-label">Skillset</label>
                    <p class="item-label-desc"> :   Java</p>
                </div>
            </div>
            
            <div class="candidate-summary offer-details col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="item col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <label class="item-label">Name</label>
                    <p class="item-label-desc"> :   Veena Balakrishnan</p>
                </div>
                <div class="item col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <label class="item-label">Candidate Id</label>
                    <p class="item-label-desc"> :   BHP-C-1007</p>
                </div>
                <div class="item col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <label class="item-label">Country</label>
                    <p class="item-label-desc"> :   India</p>
                </div>
                <div class="item col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <label class="item-label">DOB</label>
                    <p class="item-label-desc"> :   30 Dec 2001 12:00 am</p>
                </div><div class="item col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <label class="item-label">Designation</label>
                    <p class="item-label-desc"> :   Belhopat Employee</p>
                </div>
                <div class="item col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <label class="item-label">Passport</label>
                    <p class="item-label-desc"> :   12312312</p>
                </div>
                <div class="item col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <label class="item-label">Email Id</label>
                    <p class="item-label-desc"> :   veeana@belhopat.com</p>
                </div>
                <div class="item col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <label class="item-label">Country Code</label>
                    <p class="item-label-desc"> :   +91</p>
                </div>
                <div class="item col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <label class="item-label">Contact No</label>
                    <p class="item-label-desc"> :   9746228805</p>
                </div>
                <div class="item col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <label class="item-label">Skillset</label>
                    <p class="item-label-desc"> :   Java</p>
                </div>
            </div>

 <div class="bottom-button-liner">       
                
                 <button class="logout-button pull-right add-button confirm-btn" title="Approve" ng-click='vm.approveOrReject(true)'>
                        <span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-check" aria-hidden="true"></i></span>
                                <span class="text">Approve</span>              
                </button>
                 <button class="reim-reject logout-button pull-right add-button confirm-btn" title="Reject"  ng-click='vm.approveOrReject(false)'>
                        <span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-close" aria-hidden="true"></i></span>
                                <span class="text">Reject</span>              
                </button>
                    
        </div>
        </div>


