<div>
    <div class="top-main-head pull-left width-100">
        <h4 class="pull-left">Generate Offer Letter</h4>
        <button ng-click="vm.back()"
                class="logout-button pull-right add-button" title="back">
            <span class="fa-stack fa-lg pull-left"><i
                    class="fa fa-arrow-left" aria-hidden="true"></i></span>
            <span class="text">Back</span>              
        </button>
    </div>
    <div class="sal-annual data-outer col-md-5 col-lg-5 col-sm-5 col-xs5">                        
        <div class="data-main-container">     
            <header class="data-main-container-header">Annual Gross</header>
            <div class="item col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="item-label col-md-7 col-lg-7 col-sm-7 col-xs-7">Annual GrossCTC</label>
                <p class="item-label-desc col-md-4 col-lg-4 col-sm-4 col-xs-4">:{{vm.offerletter.grossCTC|number}}</p>
            </div>
            <div class="item col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="item-label col-md-7 col-lg-7 col-sm-7 col-xs-7">Grade</label>
                <p class="item-label-desc col-md-4 col-lg-4 col-sm-4 col-xs-4">:{{vm.offerletter.grade}}</p>
            </div> 
            <div class="item col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="item-label col-md-7 col-lg-7 col-sm-7 col-xs-7">Variable Component</label>
                <p class="item-label-desc col-md-4 col-lg-4 col-sm-4 col-xs-4">:{{vm.offerletter.minFixedSalary|number}}</p>
            </div>
            <div class="item col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="item-label col-md-7 col-lg-7 col-sm-7 col-xs-7">House Rent Allowance</label>
                <p class="item-label-desc col-md-4 col-lg-4 col-sm-4 col-xs-4">:{{vm.offerletter.hra|number}}</p>
            </div> 
            <div class="item col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="item-label col-md-7 col-lg-7 col-sm-7 col-xs-7">Medical Allowance</label>
                <p class="item-label-desc col-md-4 col-lg-4 col-sm-4 col-xs-4">:{{vm.offerletter.medicalAllowance|number}}</p>
            </div>
            <div class="item col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="item-label col-md-7 col-lg-7 col-sm-7 col-xs-7">Conveyance Allowance</label>
                <p class="item-label-desc col-md-4 col-lg-4 col-sm-4 col-xs-4">:{{vm.offerletter.conveyanceAllowance|number}}</p>
            </div> 
            <div class="item col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="item-label col-md-7 col-lg-7 col-sm-7 col-xs-7">Special Allowance</label>
                <p class="item-label-desc col-md-4 col-lg-4 col-sm-4 col-xs-4">:{{vm.offerletter.conveyanceAllowance|number}}</p>
            </div>
            <div class="item col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="item-label col-md-7 col-lg-7 col-sm-7 col-xs-7">Flexi Benefit Kit</label>
                <p class="item-label-desc col-md-4 col-lg-4 col-sm-4 col-xs-4">:{{vm.offerletter.flexyBenKit|number}}</p>
            </div> 
            <div class="item col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="item-label col-md-7 col-lg-7 col-sm-7 col-xs-7">Epf contribytion by employee</label>
                <p class="item-label-desc col-md-4 col-lg-4 col-sm-4 col-xs-4">:{{vm.offerletter.pfEmpContrbtn|number}}</p>
            </div> 
            <div class="item col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="item-label col-md-7 col-lg-7 col-sm-7 col-xs-7">Epf contribytion by employer</label>
                <p class="item-label-desc col-md-4 col-lg-4 col-sm-4 col-xs-4">:{{vm.offerletter.pfEmpContrbtn|number}}</p>
            </div>
            <div class="item col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="item-label col-md-7 col-lg-7 col-sm-7 col-xs-7">Professional Tax</label>
                <p class="item-label-desc col-md-4 col-lg-4 col-sm-4 col-xs-4">:{{vm.offerletter.profTax|number}}</p>
            </div> 
            <div class="item col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="item-label col-md-7 col-lg-7 col-sm-7 col-xs-7">Incentive</label>
                <p class="item-label-desc col-md-4 col-lg-4 col-sm-4 col-xs-4">:{{vm.offerletter.profTax|number}}</p>
            </div> 
        </div>
    </div>
    <div class="sal-month data-outer col-md-5 col-lg-5 col-sm-5 col-xs5">                        
        <div class="data-main-container">     
            <header class="data-main-container-header">Monthly split</header>
            <div class="item col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="item-label col-md-7 col-lg-7 col-sm-7 col-xs-7">Annual GrossCTC</label>
                <p class="item-label-desc col-md-4 col-lg-4 col-sm-4 col-xs-4">:{{(vm.offerletter.grossCTC/12) | number:2}}</p>
            </div>
            <div class="item col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="item-label col-md-7 col-lg-7 col-sm-7 col-xs-7">Grade</label>
                <p class="item-label-desc col-md-4 col-lg-4 col-sm-4 col-xs-4">:{{vm.offerletter.grade}}</p>
            </div> 
            <div class="item col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="item-label col-md-7 col-lg-7 col-sm-7 col-xs-7">Variable Component</label>
                <p class="item-label-desc col-md-4 col-lg-4 col-sm-4 col-xs-4">:{{(vm.offerletter.minFixedSalary/12) | number:2}}</p>
            </div>
            <div class="item col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="item-label col-md-7 col-lg-7 col-sm-7 col-xs-7">House Rent Allowance</label>
                <p class="item-label-desc col-md-4 col-lg-4 col-sm-4 col-xs-4">:{{(vm.offerletter.hra/12) | number:2}}</p>
            </div> 
            <div class="item col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="item-label col-md-7 col-lg-7 col-sm-7 col-xs-7">Medical Allowance</label>
                <p class="item-label-desc col-md-4 col-lg-4 col-sm-4 col-xs-4">:{{(vm.offerletter.medicalAllowance/12) | number:2}}</p>
            </div>
            <div class="item col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="item-label col-md-7 col-lg-7 col-sm-7 col-xs-7">Conveyance Allowance</label>
                <p class="item-label-desc col-md-4 col-lg-4 col-sm-4 col-xs-4">:{{(vm.offerletter.conveyanceAllowance/12) | number:2}}</p>
            </div> 
            <div class="item col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="item-label col-md-7 col-lg-7 col-sm-7 col-xs-7">Special Allowance</label>
                <p class="item-label-desc col-md-4 col-lg-4 col-sm-4 col-xs-4">:{{(vm.offerletter.conveyanceAllowance/12) | number:2}}</p>
            </div>
            <div class="item col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="item-label col-md-7 col-lg-7 col-sm-7 col-xs-7">Flexi Benefit Kit</label>
                <p class="item-label-desc col-md-4 col-lg-4 col-sm-4 col-xs-4">:{{(vm.offerletter.flexyBenKit/12) | number:2}}</p>
            </div> 
            <div class="item col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="item-label col-md-7 col-lg-7 col-sm-7 col-xs-7">Epf contribytion by employee</label>
                <p class="item-label-desc col-md-4 col-lg-4 col-sm-4 col-xs-4">:{{(vm.offerletter.pfEmpContrbtn/12) | number:2}}</p>
            </div> 
            <div class="item col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="item-label col-md-7 col-lg-7 col-sm-7 col-xs-7">Epf contribytion by employer</label>
                <p class="item-label-desc col-md-4 col-lg-4 col-sm-4 col-xs-4">:{{(vm.offerletter.pfEmpContrbtn/12) | number:2}}</p>
            </div>
            <div class="item col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="item-label col-md-7 col-lg-7 col-sm-7 col-xs-7">Professional Tax</label>
                <p class="item-label-desc col-md-4 col-lg-4 col-sm-4 col-xs-4">:{{(vm.offerletter.profTax/12) | number:2}}</p>
            </div> 
            <div class="item col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <label class="item-label col-md-7 col-lg-7 col-sm-7 col-xs-7">Incentive</label>
                <p class="item-label-desc col-md-4 col-lg-4 col-sm-4 col-xs-4">:{{(vm.offerletter.profTax/12) | number:2}}</p>
            </div> 
        </div>
    </div>

    <div class="salary bottom-button-liner">        
        <button ng-click=""
                class="logout-button pull-right add-button request-btn" title="Request For Approval">
            <span class="fa-stack fa-lg pull-left"><i
                    class="fa fa-paper-plane" aria-hidden="true"></i></span>
            <span class="text">Request For Approval</span>              
        </button>
        <button ng-click=""
                class="logout-button pull-right add-button download-btn" title="Download Offer Letter">
            <span class="fa-stack fa-lg pull-left"><i
                    class="fa fa-download" aria-hidden="true"></i></span>
            <span class="text">Download Offer Letter</span>              
        </button>
        <button ng-click="vm.generateOfferLetter()"
                class="logout-button pull-right add-button generate-btn" title="Generate Offer Letter">
            <span class="fa-stack fa-lg pull-left"><i
                    class="fa fa-check" aria-hidden="true"></i></span>
            <span class="text">Generate Offer Letter</span>              
        </button>
    </div>
</div>