<div class="sub-content">
    <div class="top-main-head pull-left width-100">
        <h4 class="pull-left page-section-header-po">Purchase Order Management</h4>        
	<button ng-click="vm.addPO()"
		class="logout-button pull-right add-button" title="Add Purchase Order">
		<span class="fa-stack fa-lg pull-left"><i
			class="fa fa-plus" aria-hidden="true"></i></span>
                        <span class="text">Add</span>              
	</button>        
    </div>
    <table id="poList" class="display"></table>
    <div class="error-container" ng-if="vm.errorAlert">{{vm.errorMessage}}</div>
</div>
