<div class="form-horizontal consultant-add" name="po_reg_form">
    <div class="top-main-head pull-left width-100">
        <h4 class="pull-left page-section-header">Fill Purchase Order Details</h4>	
        <button ng-click="vm.back()"
			class="logout-button pull-right add-button" title="Back Button">
			<span class="fa-stack fa-lg pull-left"><i
				class="fa fa-arrow-left" aria-hidden="true"></i></span>
	                        <span class="text">Back</span>              
		</button>
    </div>
    <form name="regForm" class="consultant-form" id="form_1" novalidate>
        <div class="row">
            <div class="data-outer col-md-6 col-lg-6 col-sm-6 col-xs-12">                        
                <div class="data-main-container">
                    <header class="data-main-container-header">Basic Information</header>

                    <div
                        class="control-group col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-left">
                        <label class="control-label" for="poNo">PO Number</label>
                        <div class="controls">
                            <input type="text" name="poNo" id="poNo"
                                   ng-model="vm.registration.purchaseOrderNo"
                                   class="form-input width-100" placeholder="PO Number"
                                   validation="required:alt=Required field" />
                        </div>
                    </div>
                    <div
                        class="control-group col-lg-3 col-md-3 col-sm-6 col-xs-6 pull-left">
                        <label class="control-label" for="poDate">PO Date</label>
                        <div class="controls">
                            <input type="text" name="poDate" id="poDate"
                                   ng-model="vm.registration.poDate" class="form-input width-100"
                                   placeholder="PO Date"
                                   validation="required:alt=Required field" />
                        </div>
                    </div>
                     <div class="control-group col-lg-2 col-md-2 col-sm-2 col-xs-2 pull-left">
                            <label class="control-label" for="currency">Currency</label>
                                <div class="controls small-drop">
                                    <input type="text" name="currency" id="currency"
                                   ng-model="vm.registration.currency" class="form-input width-100"
                                   placeholder="Currency"
                                   validation="required:alt=Required field" />                                  
                                </div>
                            </div>
                    <div class="control-group col-lg-3 col-md-3 col-sm-4 col-xs-4 pull-left">
                        <label class="control-label" for="monthlyRate">Monthly Rate</label>
                        <div class="controls">
                            <input type="text" name="monthlyRate" id="monthlyRate"
                                   ng-model="vm.registration.monthlyRate"
                                   class="form-input width-100"
                                   placeholder="Monthly Rate"
                                   validation="max_len:10:alt=max. 10 digits|numeric:alt=Number only|required:alt=Required field"
                                   maxlength="10" />
                        </div>
                    </div>
                    <div
                        class="control-group col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-left">
                        <label class="control-label" for="poValue">PO Value</label>
                        <div class="controls">
                            <input type="text" name="poValue" id="poValue"
                                   ng-model="vm.registration.poValue" class="form-input width-100"
                                   placeholder="PO Value" validation="required:alt=Required field" />
                        </div>
                    </div>
                    <div
                        class="control-group col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-left">
                        <label class="control-label" for="expiry">Expiry Date</label>
                        <div class="controls">
                            <input type="text" name="expiry" id="expiry"
                                   ng-model="vm.registration.expiry" class="form-input width-100"
                                   placeholder="Expiry Date"
                                   validation="required:alt=Required field" />
                        </div>
                    </div>
                    <div
                        class="control-group col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-left">
                        <label class="control-label" for="status">Status</label>
                        <div class="controls">
                            <select name="status"
                                    ng-model="vm.registration.status"
                                    class="form-input width-100"
                                    ng-options="poStatus.id as (poStatus.description) for poStatus in vm.poStatus"
                                    validation="required:alt=required">
                                <option value="">--SELECT--</option>
                            </select>
                        </div>
                    </div>
                    <div
                        class="control-group col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-left">
                        <label class="control-label" for="vendorName">Vendor Name</label>
                        <div class="controls">
                            <input type="text" name="vendorName" id="vendorName"
                                   ng-model="vm.registration.vendorName.vendorName" class="form-input width-100"
                                   placeholder="PO Value" validation="required:alt=Required field" />
                        </div>
                    </div>
                    <div
                        class="control-group col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-left">
                        <label class="control-label" for="poDesc">PO Description</label>
                        <div class="controls">
                            <input type="text" name="poDesc" id="poDesc"
                                   ng-model="vm.registration.poDesc" class="form-input width-100"
                                   placeholder="PO Value" validation="required:alt=Required field" />
                        </div>
                    </div>
                    <div
                        class="control-group col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-left">
                        <label class="control-label" for="poDoc">Doc Uploaded</label>
                        <div class="controls">
                            <input type="text" name="poDoc" id="poDoc"
                                   ng-model="vm.registration.poDoc" class="form-input width-100"
                                   placeholder="PO Value" validation="required:alt=Required field" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
     <div class="bottom-button-liner">        
        <button ng-click="vm.addPO()"
		class="logout-button pull-right add-button confirm-btn" title="Add PO">
		<span class="fa-stack fa-lg pull-left"><i
			class="fa fa-check" aria-hidden="true"></i></span>
                        <span class="text">Add PO</span>              
	</button>
        </div>
</div>




