<section class="sub-content">
    <div class="top-main-head pull-left width-100">
        <h4 class="pull-left">Candidate Management</h4>        
	<button ng-click="vm.addCandidate()"
		class="logout-button pull-right add-button" title="Add Employee">
		<span class="fa-stack fa-lg pull-left"><i
			class="fa fa-plus" aria-hidden="true"></i></span>
                        <span class="text">Add</span>              
	</button>
        <button ng-click="vm.processOfferLetter()"
		class="logout-button pull-right add-button proccess-button" title="Process Offerletter">
		<span class="fa-stack fa-lg pull-left"><i
			class="fa fa-envelope" aria-hidden="true"></i></span>
                        <span class="text">Process Offerletter</span>              
	</button>
    </div>
    <div class="error-container" ng-if="vm.errorAlert">{{vm.errorMessage}}</div>
    <table id="candidatesList" class="display" >
    </table>
</section>
