<section class="sub-content">
    <div class="top-main-head pull-left width-100">
        <h4 class="pull-left page-section-header">Candidate Management</h4>        
	<button ng-click="vm.addCandidate()"
		class="logout-button pull-right add-button" title="Add New Candidate">
		<span class="fa-stack fa-lg pull-left"><i
			class="fa fa-plus" aria-hidden="true"></i></span>
                        <span class="text">Add</span>              
	</button>
    </div>
    <div class="error-container" ng-if="vm.errorAlert">{{vm.errorMessage}}</div>
    <table id="candidatesList" class="display" >
    </table>
</section>
