<section class="sub-content">
    <div class="top-main-head pull-left width-100">
        <h4 class="pull-left">Consultant Management</h4>        
	<button ng-click="vm.addConsultant()"
		class="logout-button pull-right add-button" title="Add Consultant">
		<span class="fa-stack fa-lg pull-left"><i
			class="fa fa-plus" aria-hidden="true"></i></span>
                        <span class="text">Add</span>              
	</button>
    </div>
    <div class="error-container" ng-if="vm.errorAlert">{{vm.errorMessage}}</div>
    <table id="consultantList" class="display"></table>
</section>
