<div class="sub-content dashboard" ng-init="vm.init()">

	<div class="row">
		<div class="col-lg-3 col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-comments fa-5x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="huge">26</div>
							<div>New Tasks!</div>
						</div>
					</div>
				</div>
				<a href="#">
					<div class="panel-footer">
						<span class="pull-left">View Details</span> <span
							class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-6">
			<div class="panel panel-green">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-tasks fa-5x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="huge">12</div>
							<div>New Tasks!</div>
						</div>
					</div>
				</div>
				<a href="#">
					<div class="panel-footer">
						<span class="pull-left">View Details</span> <span
							class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-6">
			<div class="panel panel-yellow">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-shopping-cart fa-5x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="huge">124</div>
							<div>New Orders!</div>
						</div>
					</div>
				</div>
				<a href="#">
					<div class="panel-footer">
						<span class="pull-left">View Details</span> <span
							class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-6">
			<div class="panel panel-red">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-support fa-5x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="huge">13</div>
							<div>Support Tickets!</div>
						</div>
					</div>
				</div>
				<a href="#">
					<div class="panel-footer">
						<span class="pull-left">View Details</span> <span
							class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<!-- /.row -->

	<div class="row" >
		<div class=" col-lg-12">
			<div class="tasklist panel panel-default">
				<div class=" panel-body">
					<div>
						<div class="carousel-demo">
							<ul rn-carousel rn-carousel-index="carouselIndex3"
								rn-carousel-transition="hexagon" rn-carousel-buffered
								class="carousel3">
								<li ng-repeat="slide in slides3 track by slide.id">
									<div class="slider col-lg-3 col-md-6">
										<div class="panel panel-task">
											<div class="panel-heading">
												<div class="row">
													<div class="col-xs-2">
														<i class="fa fa fa-indent fa-5x"></i>
													</div>
													<div class="col-xs-10 text-right">
														<div class="huge">LEAVE REQUEST</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-6">
														<div>Dummy</div>
													</div>
													<div class="col-xs-6 text-right">
														<div>Dummy</div>
													</div>
												</div>
											</div>
											<a href="#">
												<div class="gototask panel-footer">
													<span class="pull-left">Go to Task</span> <span
														class="pull-right"><i
														class="fa fa-arrow-circle-right"></i></span>
													<div class="clearfix"></div>
												</div>
											</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.row -->

	<div class="row">
		<div class="col-lg-6">
			<div class="row taskstats">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<i class="fa fa-bar-chart fa-fw"></i> Task Statitics
						</h3>
					</div>
					<div class="panel-body">
						<div class="row pending">
							<div class="col-lg-8">
								<h3>Pending Task Stats</h3>
							</div>
							<div class="col-lg-4">
								<canvas id="pending"></canvas>
							</div>

						</div>
						<div class="row completed">
							<div class="col-lg-8">
								<h3>Completed task Stats</h3>
							</div>
							<div class="col-lg-4">
								<canvas id="completed"></canvas>
							</div>

						</div>
					</div>
				</div>
			</div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<i class="fa fa-bar-chart fa-fw"></i> Company Statitics
						</h3>
					</div>
					<div class="panel-body">
						<nvd3 options="vm.options" data="vm.data"></nvd3>
					</div>
				</div>
			</div>

	</div>
	<div class="news row">
		<div class="col-lg-12">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<i class="fa fa-wpforms fa-fw"></i> News and Broadcasts
					</h3>
				</div>
				<div class="panel-body">
					<md-button class="md-primary md-raised md-news"
						ng-click="showPrompt($event)"> Broadcast a message </md-button>
					<div class="well well-sm">
						<div class="row">
							<div class="col-sm-12">
								<input type="number" class="form-control"
									ng-model="selectedItem" placeholder="Search for a broadcast">
							</div>
						</div>
					</div>
						<div id="scroll-test-container" class="panel-body" ng-init="vm.itemsss()">
							<div ng-repeat="item in items"
								scroll-when="selectedItem === item" scroll-watch-enabled="true"
								scroll-container="#scroll-test-container" scroll-offset="200"
								scroll-speed="100" class="item-container"
								ng-class="{'active': selectedItem === item}">
								<span>{{item}}</span>
							</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>

</div>

</div>

