<div class="sub-content">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="card-wrap">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="panelSubTitle">New Job Site</h3>
                        <input type="email" class="form-control exampleInputEmail" placeholder="Enter an address">
                        <button type="button" class="btn btn-success create-button">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Create Job Site
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-wrap number-card">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body green-card">
                        <h3 class="card-font-top">To be scheduled</h3>
                        <h1 class="card-font">6</h1>
                        <h3 class="card-font-top card-font-bottom">KEEP UP THE GOOD WORK!</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body orange-card">
                        <h3 class="card-font-top">On Hold</h3>
                        <h1 class="card-font">2</h1>
                        <h3 class="card-font-top card-font-bottom">LETS GET THIS IN GREEN</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-wrap pipeline-card">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="panelSubTitle">Project Pipeline</h3>
                        <div class="projectPipeline">
                            <h1 class="card-font pipeline-font">18</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="panelSubTitle">Completed Jobs YTD</h3>

                    </div>
                </div>
            </div>
        </div>
    </div></div>

