<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<a style="cursor: default;"><img alt="Belhopat Logo" src="cid:templateLogo" width="75%" style="cursor: default;"></a>
		<div>
			<p><strong>
				Belhopat Global Services
			</strong>
			</p>
			<p></p>
		</div>
		<div> 
			$content
		</div>
	</body>
</html>