<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<a style="cursor: default !important; pointer-events:none !important">
			<img alt="Belhopat Logo" src="cid:templateLogo" width="75%" style="cursor: default !important; pointer-events:none !important">
		</a>
		<br /><br />
		<div>
			<p>
			Hello  <strong>$username</strong>,
			</p>
		</div>m
		<div>
			<p>
				This is an important message from Belhopat Global Services.
				<br /><br />
				We have received your request for resetting your Employee portal login password.
			</p>
			<p>
			Your new password is: <strong>$!generatedPassword</strong>
			</p>
			<p>
				Please choose a new password and do not use the same password you used previously.
				</br></br>
			</p>
		</div>
		Sincerely,
		<br />
		Belhopat Global Services
</body>
</html>